extends layout

block content

  h2.title=genderCategory.title
  p=genderCategory.description 
  each category in genderCategory.subcategories  
    a(href=`/categories/${category.parent_category_id}/${category.name.toLowerCase()}`)=category.name
    br
    div.image(style=`background-image: url(/images/categories/${category.id}.jpg);`)
    p=category.page_description
    
  