extends layout

block content
  .row.justify-content-center.align-items-center
    each product in products   
      each image in product.image_groups
        if image.view_type === 'large'
          each imageAttributes, index in image.images
            .productImageDetail.col-4(style=`background-image: url(/images/${imageAttributes.link});`)
      .description.col-8
        h2=product.name
        p=product.page_description
        if(product.currency == "USD")
          p=`Price: $ ${product.price}`  
        else 
          p=`Price: ${product.price} ${product.currency} ` 
       

