extends layout

block content
  .products.row.my-5
    each product in products
      .product.my-5.col-lg-6.col-sm-12 
        h2.h-25=product.name
        .product-card.row 
          each image, index in product.image_groups
              if image.view_type === 'large'
                if index === 0
                  div.col-lg-4.col-sm-12.productImage(style=`background-image: url(/images/${image.images[0].link});`)
          .productDescription.col-lg-8.col-xs-12
            p=product.page_description
            .d-table.justify-content-between
              if(product.currency == "USD")
                p=`Price: $ ${product.price}`  
              else 
                p=`Price: ${product.price} ${product.currency} `  
              a.btn.btn-outline-secondary(href=`${url}/${product.name}?id=${product.id}`) view product details

