extends layout

block content
  each product in products   
    h2=product.name
    br
    div.productImage(style=`background-image: url(/images/${product.images.link});`)
    p=product.page_description
    if(product.currency == "USD")
      p=`Price: $ ${product.price}`  
    else 
      p=`Price: ${product.price} ${product.currency} `  
    a(href=`/products/${product.primary_category_id}/${product.id}`) View product details
