extends layout

block content
  each subcategory in subcategories  
    .subcategories.my-5.py-3.border-bottom.border-dark
      h2.margins=subcategory.name
      div.margins.image(style=`background-image: url(/images/categories/${subcategory.id}.jpg);`)
      p.margins=subcategory.page_description
      a.margins.btn.btn-outline-secondary(href=`${url}/${subcategory.id}`) View products
      